<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cifra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>log.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sedutil.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D20A63961F731F3600F154AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21F1A2926DEA48A00B7A3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D226BF0A1F71B2EB002F71DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D226BF2A1F71C321002F71DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D226BF381F71C3A4002F71DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D226BFAA1F723D66002F71DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24420301F536C6B005D2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24420811F548664005D2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2518D551FE9CC39004F7447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25A977026DEC1DE00A62E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D262E836200939B800069A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D26B3B511F6FB6BC004571A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D26E4CF11F54F4B000EF0F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D283A7572022615B00AF0B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2910E2E1F03905000005E87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294C2BF1F03A69600F88DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294C2F11F03A6EA00F88DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294C31D1F040BC900F88DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294C3A51F043C8900F88DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D29723941F6E4A3E00F7E97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D29723B81F6E4B3B00F7E97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D298628F1F068E3A002DBE35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ACA4061F65CFED003B818C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ACA41F1F65D4BB003B818C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B7FA5E1F02A6EE00F2D820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B7FAB31F02F05600F2D820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BD8F5F1F02017B00747F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BD8F801F02054700747F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BD8F8D1F0205F900747F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BD8FA01F0207AF00747F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EBA3061F0549B7002F8780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EBA45A1F0552B4002F8780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EBA48E1F055579002F8780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FA4ACE1F4645A90007EA6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
