[Unit]
Description=Unlock Opal-encrypted (SED) drives.
Documentation=https://github.com/Drive-Trust-Alliance/sedutil
After=systemd-udev-settle.target
Before=systemd-fs-pre.target
ConditionKernelCommandLine=libata.allow_tpm=1
ConditionFileIsExecutable=/usr/sbin/linuxpba

[Service]
Type=oneshot
TimeoutSec=180
RemainAfterExit=yes
ExecStart=/usr/sbin/dmidecode -s system-serial-number | /bin/egrep -v '^#' | /usr/sbin/linuxpba 2>/tmp/linuxpba.debug
